<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body class="bg-dark">
    <div id="app" class="container bg-light rounded text-center mt-5 p-4 ">
        <h1>Todo List</h1>
        <p class="alert alert-primary my-3">Oggi devi svolgere: {{toDoList.length}} task</p>
        
        <input type="text" class="form-control my-4" v-model="newTask" placeholder="Aggiungi la tua task" @keyup.enter="addTask()">
        <button class="btn btn-outline-primary" @click="addTask()">Aggiungi</button>
        <div class="w">
            <ul class="list-group p-4">
                <li class="list-group-item  d-flex justify-content-between" v-for="(todo , index) in toDoList" @click="completed(index)">
                    

                        <s class="align-self-center" v-if="todo.done==true">{{todo.text}}</s>
                        <span class="align-self-center" v-else>{{todo.text}}</span>

                        <button class="btn btn-outline-danger" href="" @click="remove(index)"> &cross;</button>
                    
                </li>

            </ul>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>